//
//  Horos.xcconfig
//  Horos
//
//  Created by Felix Ritter on 29.07.22.
//  Copyright © 2022 The Horos Project. All rights reserved.
//

/// String that uniquely identifies the bundle
PRODUCT_BUNDLE_IDENTIFIER_PREFIX = com.opendicom

/// Current version of the project
CURRENT_PROJECT_VERSION = 20240509

/// User-visible version of the project
MARKETING_VERSION = 0.1

/// Copyright notice for the bundle
HUMAN_READABLE_VERSION = heka 0.1

/// Copyright notice for the bundle
HUMAN_READABLE_COPYRIGHT = © 2024 opendicom
